{{ define "init" }}
{{ template "header" }}

      <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Chris</td>
                <td>crismartine.e@gmail.com</td>
                <td>edit | delete</td>
            </tr>
        </tbody>
    </table>

{{ template "footer" }}
{{ end }}